body{
  background-color: #000;
  color: #FFF;
  font-family: "Helvetica", "Helvetica Neue", "Arial", "sans-serif";
  height: 100%
}

#container{
  height: auto !important;
  margin: 0 auto -100px; 
  text-align: center;
}

#container p{
  font-size: 150px;
  font-weight: bold;
  margin-bottom: -5px;
  padding: 0;
  vertical-align: middle;
}

#extras{
  position: relative;
}

#extras a{
  color: #FFF;
  font-size: .8em;
  text-decoration: none;
}
.footer, .push {
  height: 100px; /* .push must be the same height as .footer */
}

.footer p{
  color: #CCC;
  font-size: .8em;
  text-align: right;
}
