body{
  font-family: "Helvetica", "Helvetica Neue", "Arial", "sans-serif";
  color: #FFF;
  background-color: #000;
}

a{
	color: #FFF
}

#container{
  text-align: center;
}

#container p{
  font-size: 150px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 2em;
}

#extras{
  position: relative;
}